@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebf2ff;
  font-family: "Poppins", sans-serif;
}
#home {
  height: 60vh;
  overflow: hidden;
}

.pic {
  height: 60vh;
}

#home h1 {
  font-family: "Bree Serif", serif;
  font-weight: bolder;
  color: black;
  text-align: center;
}
#home p {
  font-family: "Bree Serif", serif;
  color: black;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}

.card{
  height: 700px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#contact {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c40 C 57.6%2c84.8 172.8%2c244.8 288%2c264 C 403.2%2c283.2 460.8%2c137.8 576%2c136 C 691.2%2c134.2 748.8%2c272 864%2c255 C 979.2%2c238 1036.8%2c70.8 1152%2c51 C 1267.2%2c31.2 1382.4%2c135 1440%2c156L1440 560L0 560z' fill='rgba(167%2c 167%2c 167%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c422 C 36%2c407.6 108%2c343.2 180%2c350 C 252%2c356.8 288%2c458 360%2c456 C 432%2c454 468%2c339.6 540%2c340 C 612%2c340.4 648%2c464 720%2c458 C 792%2c452 828%2c300.8 900%2c310 C 972%2c319.2 1008%2c506 1080%2c504 C 1152%2c502 1188%2c316.2 1260%2c300 C 1332%2c283.8 1404%2c398.4 1440%2c423L1440 560L0 560z' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

#contact_form {
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#hospital-list{
  min-height: 40vh;
}

footer {
  color: white;
  background: black;
  font-size: 1rem;
}

/* loader CSS */
.lds-roller {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(18, 70, 167);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
